.selector{
    border: 1px solid blue;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#temp{
    padding: 10px 20px;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
}

.range{
    margin: 20px 0;
}
